* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
    --w3m-color-fg-1: rgb(20,20,20);
    --w3m-color-fg-2: rgb(121,134,134);
    --w3m-color-fg-3: rgb(158,169,169);
    --w3m-color-bg-1: rgb(255,255,255);
    --w3m-color-bg-2: rgb(241,243,243);
    --w3m-color-bg-3: rgb(228,231,231);
    --w3m-color-overlay: rgba(0,0,0,0.1);
    --w3m-accent-color: #3396FF;
    --w3m-accent-fill-color: #FFFFFF;
    --w3m-z-index: 89;
    --w3m-background-color: #3396FF; */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 32, 40);
  color: rgb(160, 160, 160);
  font-family: "Basis Grotesque Pro", "Roboto Mono", "Open Sans", "PingFang SC",
    sans-serif, 微软雅黑, "Microsoft Yahei", 宋体, Helvetica, Arial, simsun;
  font-size: 12px;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
